In [15]:
import pandas as pd
from random import randint

In [16]:
caminho = '/workspaces/TrabalhosCPA/T4_PedroBarcelos_LeonardoMiranda-Alugueis/alugueis.csv'
dados = pd.read_csv(caminho)
dados

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618
1,1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973
2,2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841
3,3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421
4,4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926
10607,10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260
10608,10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390
10609,10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020
10610,10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587

In [17]:
def amostragem_aleatoria(df:pd.DataFrame,amostras:int,reposicao:bool = True):
    if amostras == 0 or df.empty:
        return df_amostras
    if amostras > len(df):
        raise Exception("Nro Amostras maior que a população!")
    linhas,cols = df.shape
    colunas = df.keys()
    df_amostras = pd.DataFrame(columns=colunas)
    if reposicao:
        for i in range(amostras):
            ind = randint(0,linhas)
            amostra = df.iloc[ind]
            df_amostras.loc[len(df_amostras)] = amostra
    else: #sem reposicao
        indices_amostrados = []
        for i in range(amostras):
            linhas,cols = df.shape
            ind = randint(0,linhas-1)
            while ind in indices_amostrados:
                ind = randint(0,linhas-1)
            indices_amostrados.append(ind)
            amostra = df.iloc[ind]
            df_amostras.loc[len(df_amostras)] = amostra
    return df_amostras

def amostragem_estratificada(df:pd.DataFrame,amostras:int,coluna:str):
    if amostras == 0 or df.empty:
        return df_amostras
    if amostras > len(df):
        raise Exception("Nro Amostras maior que a população!")
    dicionario = {}
    dicionario_amostra = {}
    conteudos = df[coluna].unique()
    linhas,cols = df.shape
    porcentagem = float(amostras)/float(linhas)
    for conteudo in conteudos:
        qtd = df[coluna].value_counts()[conteudo]
        dicionario[conteudo] = qtd
        qtd_amostra = qtd * porcentagem
        dicionario_amostra[conteudo] = round(qtd_amostra)

    # em caso de erro de arredondamento, a chave com maior quantidade de amostras sera afetada, sempre!
    while sum(dicionario_amostra.values()) > amostras or sum(dicionario_amostra.values()) < amostras:
        maior_amostra = max(dicionario_amostra.values())
        for chave,valor in dicionario_amostra.items():
            if valor == maior_amostra:
                match(sum(dicionario_amostra.values())>amostras):
                    case True:dicionario_amostra[chave] = valor - 1
                    case False: dicionario_amostra[chave] = valor + 1


    colunas = df.keys()
    df_amostras = pd.DataFrame(columns=colunas)
    for chave, valor in dicionario_amostra.items():
        df_chave = df[df[coluna]==chave]
        while valor > 0:
            amostra = df_chave.iloc[randint(0,len(df_chave))]
            df_amostras.loc[len(df_amostras)] = amostra
            valor-=1
    print(f'Quantidade de amostras:{dicionario_amostra.items()}')
    return df_amostras

## Ex 1

### a)

In [18]:
amostragem_estratificada(dados,200,dados.keys()[1])

Quantidade de amostras:dict_items([('São Paulo', 111), ('Porto Alegre', 22), ('Rio de Janeiro', 28), ('Campinas', 16), ('Belo Horizonte', 23)])

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,1827,São Paulo,336,4,4,6,-,acept,not furnished,0,7677,950,116,8743
1,8585,São Paulo,110,3,4,3,8,acept,not furnished,1364,2200,403,28,3995
2,5968,São Paulo,106,3,3,1,2,acept,not furnished,970,2500,350,32,3852
3,953,São Paulo,250,4,3,4,-,acept,not furnished,0,7200,434,109,7743
4,4501,São Paulo,55,1,1,1,9,not acept,furnished,1400,2860,184,37,4481
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,1611,Belo Horizonte,78,3,2,2,16,acept,not furnished,875,2300,229,31,3435
196,1392,Belo Horizonte,573,4,3,6,-,acept,not furnished,0,10000,737,164,10900
197,1711,Belo Horizonte,125,4,2,2,1,not acept,not furnished,1100,2100,267,28,3495
198,4222,Belo Horizonte,500,5,4,4,-,acept,not furnished,0,7000,485,115,7600
199,8197,Belo Horizonte,55,2,1,1,1,acept,not furnished,200,840,77,12,1129

### b)

In [19]:
amostragem_aleatoria(dados,100)

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total
0,9589,Rio de Janeiro,250,2,3,2,-,acept,not furnished,0,3500,349,54,3903
1,9149,São Paulo,103,2,3,2,17,acept,furnished,7000,9000,500,115,16620
2,2908,Porto Alegre,64,2,1,1,4,acept,not furnished,600,980,34,15,1629
3,266,São Paulo,240,3,4,3,3,acept,furnished,3600,4950,1000,63,9613
4,6788,Porto Alegre,197,3,2,3,3,acept,not furnished,1780,7000,425,103,9308
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,3283,São Paulo,48,2,1,1,1,acept,not furnished,480,1710,0,22,2212
96,8258,Porto Alegre,63,1,1,0,3,acept,not furnished,340,900,38,14,1292
97,8595,São Paulo,200,4,4,2,9,acept,furnished,3700,7000,850,89,11640
98,8065,Rio de Janeiro,200,3,4,2,11,acept,furnished,2100,8000,600,104,10800
99,6576,São Paulo,420,3,4,4,-,not acept,not furnished,0,6000,417,91,6508

## Ex 2:

In [20]:
def definir_categoria(area): 
    if area < 0:
        return "INDEFINIDO"
    if area <= 50:
        return "PEQUENO"
    if area < 100:
        return "MEDIO"
    if area >= 100:
        return "GRANDE"
dados['categoria_area'] = dados['area'].apply(definir_categoria)
dados

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,categoria_area
0,0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618,MEDIO
1,1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973,GRANDE
2,2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841,MEDIO
3,3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421,MEDIO
4,4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836,PEQUENO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926,MEDIO
10607,10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260,GRANDE
10608,10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390,MEDIO
10609,10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020,GRANDE
10610,10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587,MEDIO

In [21]:
dados['total'].max()
def one_hot_encoding(total):
    if total < 0:
        return "INDEFINIDO"
    if total <= 5000:
        return "00001"
    if total <= 10000:
        return "00010"
    if total <= 15000:
        return "00100"
    if total <= 20000:
        return "01000"
    else:
        return "10000"
    
def discretiza_total(codigo):
    match codigo:
        case "00001":
            return "0-5000"
        case "00010":
            return "5001-10000"
        case "00100":
            return "10001-15000"
        case "01000":
            return "15001-20000"
        case "10000":
            return "20001+"
dados["total_ohe"] = dados["total"].apply(one_hot_encoding)
dados["total_discretizado"] = dados["total_ohe"].apply(discretiza_total)
dados

,id,city,area,rooms,bathroom,parking spaces,floor,animal,furniture,hoa,rent amount,property tax,fire insurance,total,categoria_area,total_ohe,total_discretizado
0,0,São Paulo,70,2,1,1,7,acept,furnished,2065,3300,211,42,5618,MEDIO,00010,5001-10000
1,1,São Paulo,320,4,4,0,20,acept,not furnished,1200,4960,1750,63,7973,GRANDE,00010,5001-10000
2,2,Porto Alegre,80,1,1,1,6,acept,not furnished,1000,2800,0,41,3841,MEDIO,00001,0-5000
3,3,Porto Alegre,51,2,1,0,2,acept,not furnished,270,1112,22,17,1421,MEDIO,00001,0-5000
4,4,São Paulo,25,1,1,0,1,not acept,not furnished,0,800,25,11,836,PEQUENO,00001,0-5000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10606,10687,Porto Alegre,63,2,1,1,5,not acept,furnished,402,1478,24,22,1926,MEDIO,00001,0-5000
10607,10688,São Paulo,285,4,4,4,17,acept,not furnished,3100,15000,973,191,19260,GRANDE,01000,15001-20000
10608,10689,Rio de Janeiro,70,3,3,0,8,not acept,furnished,980,6000,332,78,7390,MEDIO,00010,5001-10000
10609,10690,Rio de Janeiro,120,2,2,2,8,acept,furnished,1585,12000,279,155,14020,GRANDE,00100,10001-15000
10610,10691,São Paulo,80,2,1,0,-,acept,not furnished,0,1400,165,22,1587,MEDIO,00001,0-5000